<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModuleJogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <ModuleJogger.Properties.Settings>
            <setting name="RootFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsCheckingC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCheckingCpp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCheckingCSharp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCheckingCobol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCheckingJava" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCheckingJavaScript" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCheckingPerl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCheckingPython" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageCExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.c</string>
                        <string>.h</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguageCOBOLExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.cbl</string>
                        <string>.cob</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguageCppExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.cpp</string>
                        <string>.hpp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguageCSharpExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.cs</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguageJavaExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.java</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguageJavaScriptExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.js</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguagePerlExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.pl</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguagePythonExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.py</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </ModuleJogger.Properties.Settings>
    </userSettings>
</configuration>
